<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.usercenter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity android:name=".ui.contacts.PhoneContactsActivity"></activity>
        <activity android:name=".ui.contacts.ContactsActivity" />
        <activity android:name=".ui.chat.GroupChatActivity" />
        <activity android:name=".ui.chat.PersonChatActivity" />
        <activity android:name=".ui.setting.ChatSettingActivity" />
        <activity android:name=".ui.zxing.SaoActivity" />
        <activity android:name=".ui.information.InformationActivity" />
        <activity android:name=".ui.TestActivity">
        </activity>
        <activity android:name=".ui.information.InformationActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".ui.flock.CreateFlockActivity" />
        <activity android:name="com.example.zxcode.AddUserActivity" />
        <activity android:name="com.example.zxcode.ZxActivity" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>